/*colorpicker*/
.ui-colorpicker {
width: 356px;
height: 176px;
overflow: hidden;
position: absolute;
background: url(picker-img/colorpicker_background.png);
font-family: Arial, Helvetica, sans-serif;
display: none;
}


#color-picker
{
width: 206px;
position: fixed;
top: 200px;
left: -208px;
background: #444;
color: #777;
font-size: 16px;
border: solid 1px #666;
box-shadow: 0 0 2px 2px #444;
z-index: 99999999;
}

#color-picker button,
.ui-colorpicker button
{
background-color: #444 !important;
}

#color-picker #accordion
{
padding: 50px 10px 10px;
}

#color-picker fieldset
{
margin-top: 30px;
padding: 15px 10px 0;
border: none;
}

#color-picker .fields .ui-accordion-content
{
position: relative;
top: 5px;
}

#color-picker .fields .ui-accordion-content-active
{
margin-bottom: 15px;
}

#color-picker .fields .ui-accordion-content div
{
position: relative;
margin-bottom: 5px;
}

#picker-open-button
{
position: absolute;
top: 10px;
right: -50px;
width: 295px;
height: 25px;
background-color: #444;
color: #fff;
border: solid 1px #666;
box-shadow: 1px 0 2px 0px #000;
font-size: 14px;
padding: 0 10px;
outline: none;
}

#picker-open-button:hover
{
opacity: 1;
}

#picker-open-button .wheel-large
{
width: 15px;
height: 15px;
position: absolute;
right: 19px;
top: 4px;
background-image: url(picker-img/wheel-large.png);
background-position: center center;
background-repeat: no-repeat;
z-index: 99999;
}

#picker-open-button .wheel-small
{
width: 8px;
height: 8px;
position: absolute;
right: 12px;
top: 12px;
background-image: url(picker-img/wheel-small.png);
background-position: center center;
background-repeat: no-repeat;
z-index: 99999;
}

/*-- ROTATION --*/

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

#color-picker #accordion h3
{
color: #fff;
font-size: 12px;
font-weight: normal;
font-style: italic;
position: relative;
margin-top: 7px;
margin-bottom: 7px;
padding: 3px 10px;
cursor: pointer;
border: solid 1px #666;
box-shadow: 0 0 1px 0 #000;
background: #444;
background-image: url(picker-img/button-background.png);
background-repeat: repeat-x;
background-position: center top;
outline: none;
}

#color-picker #accordion h3:first-letter
{
color: #f1b64f;
}

#color-picker #accordion h3:after
{
position: absolute;
right: 10px;
top: 6px;
width: 7px;
height: 12px;
display: inline-block;
content: ' ';
background-image: url(picker-img/heading-after.png);
background-repeat: no-repeat;
background-position: center center;
}

.color-picker-button 
{
width: 15px;
height: 15px;
position: absolute;
left: 82px;
top: 21px;
border: none;
background-color: #444;
background-image: url(picker-img/color-picker-button.png);
background-position: center center;
background-repeat: no-repeat;
outline: none;
}

#color-picker label
{
font-size: 12px;
color: #fff;
}

#color-picker input {
float: left;
width: 105px;
height: auto;
border-radius: 12px;
border: none;
box-shadow: inset 0 0 2px 0 #666;
padding: 2px 5px;
font-size: 12px;
outline: none;
background: #666;
color: #333;
position: relative;
}

#color-picker span {
font-size: 12px;
float: left;
color: #fff;
}

#color-picker input[type=radio] {
padding: 0;
box-shadow: none;
width: auto;
margin: 3px 9px;
float: left;
}

::-ms-browse {
    background: none;
    color: red;
	height: 15px;
	width: 15px;
	right: 0;
	box-shadow: none;
	border: none;
	background: #444;
	color: #444;
	outline: none;
}

::-webkit-file-upload-button {
    background: none;
    color: red;
	height: 15px;
	width: 15px;
	right: 0;
	box-shadow: none;
	border: none;
	background: #444;
	color: #444;
	outline: none;
}

#color-picker .submit
{
float: right;
border: solid 1px #666;
background: #444;
background-image: url(picker-img/button-background.png);
background-repeat: repeat-x;
background-position: center -1px;
box-shadow: 0 0 1px 0 #000;
font-size: 11px;
padding: 2px 6px;
color: #fff;
outline: none;
}

#color-picker .submit.mg
{
margin-left: 10px;
}

#color-picker .submit.add
{
padding: 3px 12px;
}

#color-picker .logo-position label
{
position: relative;
top: 26px;
}

#color-picker .logo-position-buttons
{
float: right;
position: relative;
height: 50px;
width: 50px;
top: -5px;
right: 9px;
border-radius: 100%;
box-shadow: 0 0 1px 0 #000;
border: solid 1px #666;
background: #444;
background-image: url(picker-img/logo-position-background.png);
background-repeat: repeat-x;
background-position: center top;
}

#color-picker .logo-position-buttons:after
{
content: ' + ';
position: absolute;
left: 12px;
top: 12px;
display: inline-block;
width: 24px;
height: 24px;
background: #444;
border-radius: 100%;
box-shadow: inset 0 0 1px 0 #000;
border: solid 1px #666;
color: #777;
text-align: center;
}

#color-picker .logo-position-buttons button
{
background: none !important;
border: none;
box-shadow: none;
outline: none;
position: absolute;
height: 15px;
width: 15px;
color: #fff;
font-size: 8px;
}

#cp-logo-position-left
{
top: 17px;
left: 0;
}

#cp-logo-position-right
{
top: 17px;
right: 0;
}

#cp-logo-position-top
{
top: 0;
left: 17px;
}

#cp-logo-position-bottom
{
bottom: 0;
left: 17px;
}


.ui-colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(picker-img/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	z-index: 999999999;
}
.ui-colorpicker-color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.ui-colorpicker-color > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(picker-img/colorpicker_overlay.png);
}
.ui-colorpicker-color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(picker-img/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.ui-colorpicker-hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.ui-colorpicker-hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(picker-img/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.ui-colorpicker-new-color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.ui-colorpicker-current-color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.ui-colorpicker-hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(picker-img/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.ui-colorpicker input {
	height: 15px;
}
.ui-colorpicker-hex input {
	width: 45px;
    float: right;
    top: 4px;
    position: relative;
    height: 12px;
    line-height: -1px;
    font-size: 10px;
    padding: 0;
    background: none;
    border: none;
    color: #aaa;
}
.ui-colorpicker-field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.ui-colorpicker-field label {
	padding-left: 17px;
	font-size: 10px;
}
.ui-colorpicker-field input {
	width: 35px;
    float: right;
    position: relative;
    top: 4px;
    height: 12px;
    background: none;
    border: none;
    color: #aaa;
    font-size: 10px;
	outline: none;
}
.ui-colorpicker-field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.ui-colorpicker-rgb-r {
	background-image: url(picker-img/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.ui-colorpicker-rgb-g {
	background-image: url(picker-img/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.ui-colorpicker-rgb-b {
	background-image: url(picker-img/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.ui-colorpicker-hsb-h {
	background-image: url(picker-img/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.ui-colorpicker-hsb-s {
	background-image: url(picker-img/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.ui-colorpicker-hsb-b {
	background-image: url(picker-img/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.ui-colorpicker-submit {
	position: absolute;
    left: 290px;
    top: 143px;
    overflow: hidden;
    color: #fff;
    font-size: 10px;
    padding: 2px 11px;
    border: solid 1px #666;
    box-shadow: 0 0 1px 0 #000;
    background: #444;
    background-image: url(picker-img/button-background.png);
    background-repeat: repeat-x;
    background-position: center -3px;
}
.ui-colorpicker-focus {
	background-position: center;
}
.ui-colorpicker-hex.ui-colorpicker-focus {
	background-position: bottom;
}
.ui-colorpicker-submit.ui-colorpicker-focus {
	background-position: bottom;
}
.ui-colorpicker-slider {
	background-position: bottom;
}

.confirm-buttons
{
margin-bottom: 10px;
text-align: center;
}

.confirm-buttons button
{
display: inline-block;
float: none !important;
margin-right: 10px;
}
