:root{
	--btn_bg: #f6eb11;
    --btn_color: #000;
    --a_href_color: #000;
    --level_1_color: #1a1a1a;
    --product_price_color: #1a1a1a;
    --product_title_color: #30323A;
    --footer_bg: #1a1a1a;
    --header_bg: #fafafa;
    --top_menu_bg: #1a1a1a;
    --menu_bg: #fff;
    --body_color: #1a1a1a;
    --body_bg: #fff;
    --top_menu_color: #999;
    --h2_color: #30323A;
    --login_btn_bg: transparent;
    --login_btn_color: #000;
    --cart_number_bg: #f6eb11;
    --categories_title_bg: #1a1a1a;
    --categories_level_1_bg: #fff;
    --categories_level_2_bg: #fff;
    --level_2_color: #1a1a1a;
    --inner_body_bg: #fff;
    --product_bg: #fff;
    --product_bottom_bg: #fff;
    --review_star_color: #f6eb11;
    --paragraph_color: #fff;
    --h5_color: #fff;
    --input_bg_color: #fff;
    --breadcrumb_bg: transparent;
    --product_list_bg: #f9f9f9;
    --currency_bg: #fff;
    --currency_color: #1a1a1a;
    --filters_bg: #fff;
    --pagination_bg: #fff;
    --pagination_bg_active: #f6eb11;
    --pagination_color_active: #1a1a1a;
    --article_product_price_color: #808080;
    --discount_price_color: #1a1a1a;
    --add_to_cart_btn_bg: #f6eb11;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #30323A;
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #f63409;
    --sale_action_price_bg: #f6eb11;
    --sale_action_bg: #30323A;
    --product_old_price_color: #808080;
    --label_color: #1a1a1a;
    --scroll_top_bg: #fff;
    --global_color: #f6eb11;
	}